<?php 
$category = Mage::getModel('catalog/category');
	if(is_object(Mage::registry('current_category'))){
		$current_category_path=Mage::registry('current_category')->getPathIds();
	}else{
		$current_category_path = array();
	}
$category->load(Mage::app()->getStore()->getRootCategoryId());
$children_string = $category->getChildren();
$children = explode(',',$children_string);
$mainCat='';
$catID = Mage::getStoreConfig('dropshipper_options/general_options/exclude_cat');
$excludeCat = explode(',',$catID);
	foreach($children as $cat){
		if(in_array($cat, $excludeCat)){
			continue;
		}
	$selected = (in_array($cat, $current_category_path))?'SELECTED':'';
	$mainCat.= '<option value="' . $cat . '" ' . $selected . '>' . $category->load($cat)->getName() . '</option>' . "\n";
}
?>
<form id="search_form" action="<?php echo $this->helper('catalogSearch')->getResultUrl() ?>" method="get">
	<div>
    <input id="search" type="text" class="input-text" name="<?php echo $this->helper('catalogSearch')->getQueryParamName() ?>" value="<?php echo $this->helper('catalogSearch')->getEscapedQueryText() ?>" />
     <span><?php echo $this->__('en') ?></span>
     <div class="selectTag">
        <select name="cat" id="cat" class="input-text">
            <option value="">-- <?php echo $this->__('Categorías') ?> --</option>
            <?php echo preg_replace('/&(?![A-Za-z0-9#]{1,7};)/','&amp;',$mainCat);?>
        </select>
    </div> 
  	
    <input type="submit" value="Search" class="go" />
    </div>
    <div id="search_autocomplete" class="search-autocomplete"></div>
    <script type="text/javascript">
       //<![CDATA[	   
       var searchForm = new Varien.searchForm('search_form', 'search', '<?php echo $this->__('Buscar...') ?>');
      searchForm.initAutocomplete('<?php echo $this->helper('catalogSearch')->getSuggestUrl() ?>', 'search_autocomplete');
      //]]>
    </script>

</form>