<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>
<div class="mainImg">
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<p class="product-image">
	<a class="zoom" href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image') ?>">
    <?php
        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(250,250)->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(FALSE).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" width="250" height="250" />';
        echo $_helper->productAttribute($_product, $_img, 'image');		
    ?></a>
</p>
<?php else: ?>
<p class="product-image">
<?php
     $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(250,250)->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(FALSE).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" width="250" height="250" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?> 
</p>
<?php endif; ?>
<div class="popup"></div>
</div>

<?php if (count($this->getGalleryImages()) > 0): ?>
<div class="more-views">
    <h2><?php echo $this->__('More Views') ?></h2>
    <ul>
    <?php foreach ($this->getGalleryImages() as $_image): ?>
        <li>
            <a rel="gallery" href="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(250,250)->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(FALSE); ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(70,70)->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(FALSE); ?>" width="70" height="70" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" /></a>        
        </li>
    <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>