<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
		<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
			<tr>
				<td align="center" valign="top" style="padding:20px 0 20px 0"><!-- [ header starts here] -->
				<table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
					<tr>
						<td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
					</tr>
					<!-- [ middle starts here] -->
					<tr>
						<td valign="top"> <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Querido {{htmlescape var=$customer.name}},</h1>
						<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bienvenido a {{var store.getFrontendName()}}. Para ingresar a la tienda cliquea <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Ingresar</a> o <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mi Cuenta</a> en el sitio web.</p>
						<p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
						Para ingresar usa los siguientes valores:<br/>
						<strong>Correo electr&oacute;nico</strong>: {{var customer.email}}<br/>
						<strong>Contrase&ntilde;a</strong>: {{htmlescape var=$customer.password}}<p>
						<p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Una vez que ingreses a tu cuenta:</p>
						<ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
						<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Podr&aacute;s comprar m&aacute;s r&aacute;pido</li>
						<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Ver el estado de tus compras</li>
						<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Ver ordenes anteriores</li>
						<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Cambiar tu informaci&oacute;n</li>
						<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Cambiar tu contrase&ntilde;a</li>
						<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Guardar direcciones alternaativas</li>
						</ul>
						<p style="font-size:12px; line-height:16px; margin:0;">Si tienes preguntas, no dudes en contactar con nosotros: <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o al tel&eacute;fono {{config path='general/store_information/phone'}}.</p>
						</td>
						</tr>
						<tr>
						<td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Gracias de nuevo, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
						</tr>
						</table>
						</td>
						</tr>
						</table>
						</div>
						</body>
