.topCart strong,.header .login a.join,.login a.signin,.pager p.amount strong,h2.featuredH em,.featured h2,.latest h2,h2.featuredH,.catalog-category-view .pager p.amount,.page-title,.catalog-product-view .product-view .tier-prices strong.benefit{color: #535353; font-weight: bold;}
.searchBox{background:#BE222F url(../images/searchBg.jpg) repeat-x top;}
input#search,input#searchFooter{border:1px solid #D5D5D5;}
#search_form .selectTag,#search_footer .selectTag{border:1px solid #D5D5D5;}
input.go{background:url(../images/go.jpg) no-repeat;}
input.go:hover{background-position:-42px 0;}
a.advanced{color:#535353;}
.quick-access a.allCat{background:url(../images/allCat.jpg) no-repeat right;}
li.level1 a{background:url(../images/bullet.jpg) no-repeat left;}
.footer ul.links li a,.breadcrumbs ul li,ul.pDetails li{background:url(../images/bullet.jpg) no-repeat left;}
.block-title strong.account{background:url(../images/searchBg.jpg) repeat-x;border:1px solid #C02431;}
.dashboard .page-title h1,.my-account h1,ul.accountLinks li.current,.cms-page-view h1,h2.featuredH em,.pager p.amount strong,.box-head h2,.dashboard .box-title a,.dashboard address a,.dashboard p a{color:#F0913C;}
#banner ul.bannerNav li a.active{background:url(../images/bannerBtnActive.jpg) repeat-x;border:1px solid #B5B5B5;}