<?php
/**
 * Top menu for store
 *
 * @see Mage_Catalog_Block_Navigation
 */
?>
<?php
/**
 * $this->renderCategoriesMenuHtml() supports optional arguments:
 * int Level number for list item class to start from
 * string Extra class of outermost list items
 * string If specified wraps children list in div with this class
 */
?>
<?php $_menu = $this->renderCategoriesMenuHtml(0,'level-top') ?>
<?php $mod = $this->getRequest()->getModuleName(); ?>
		<?php if($mod!="customer"):?>
			<div class="block">       
		<strong><?php echo $this->__('Categorías') ?></strong>
			<div class="blockContent">
				<?php if($_menu): ?>
					<ul class="mainNav">
						<!--
					  <?php //echo $_menu ?>
					  <?php foreach ($this->getStoreCategories() as $_category): ?>
                            <li><a href="<?php echo $this->getCategoryUrl($_category); ?>"><?php echo $this->htmlEscape($_category->getName()); ?></a></li>
                     <?php endforeach ?>
                     --> 

<?php $_helper = Mage::helper('catalog/category') ?>
<?php $_categories = $_helper->getStoreCategories() ?>
<?php $currentCategory = Mage::registry('current_category') ?>
<?php if (count($_categories) > 0): ?>
    <ul>
        <?php foreach($_categories as $_category): ?>
            <li id="<?php echo trim($_category->getName()); ?>" class="nurka">
                <a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
                    <?php echo $_category->getName() ?>
                </a>
                <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
                <?php $_subcategories = $_category->getChildrenCategories() ?>
                <?php if (count($_subcategories) > 0): ?>
                    <ul style="display:none" class="iCanFly <?php echo trim($_category->getName()); ?>">
                        <?php foreach($_subcategories as $_subcategory): ?>
                            <li>
                                <a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>">
                                    <?php echo $_subcategory->getName() ?>
                                </a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>


					</ul>                
				<?php endif ?>
			</div>
		</div>        
		<?php endif; ?>

<script type="text/javascript">

	jQuery(document).ready(function($) {
		
		$(".nurka").simpletip({
		   	content: '',
		   	fixed: true,
		   	onShow: function() {
		   				var data = this.getParent().find(".iCanFly").html();
		           		this.getParent().find(".tooltip").html(data);
		           		var thePos = this.getParent().position();
		           		this.setPos(thePos.left + 75, thePos.top);
		           }
		});

    });
</script>