<div class="footer">
  <div class="textBox">
  		<?php $footerText = Mage::getStoreConfig('dropshipper_options/general_options/footer_text'); 
			   if(!empty($footerText)){
			   		echo $footerText;
			   }else{
			   		echo "";
			   }
		?>
  </div>
      <div class="footerBlock">
        <h4><?php echo $this->__('Links de interés') ?></h4>
        <?php echo $this->getChildHtml('footer_links') ?>
      </div>
      <div class="footerBlock">
        <h4><?php echo $this->__('Mi cuenta') ?></h4>
        <?php echo $this->getLayout()->getBlock('top.links')->toHtml()  ?>   
      </div>
      <div class="footerBlock last">
        <h4><?php echo $this->__('Páginas') ?></h4>
        <ul class="links">
        	<?php echo $this->getLayout()->getBlock('cms_pages')->toHtml()  ?>			
      	</ul>
      </div>
  <div class="clear"></div>
</div>
 <p class="credits"><?php echo Mage::getStoreConfig('dropshipper_options/general_options/footer_credits'); ?></p>
 
