<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Estimado {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bienvenido a {{var store.getFrontendName()}}. Para visitar nuestro sitio, haga clic en <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Ingresar</a> o <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">En mi cuenta</a> encima de cada página para ingresar con su correo y contraseña.</p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Cuando ingrese a la cuenta podrá hacer lo siguiente:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Proceder a checkout m&aacute;s r&aacute;pido cuando hace una compra</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Revisar el status de sus pedidos</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Ver pedidos anteriores</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Hacer cambios a la informaci&oacute;n de su cuenta</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Cambiar su contrase&ntilde;a</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Guardar direcciones alternativas (para enviar a otros miembros de su familia y amigos!)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">Si tiene alguna pregunta acerca de su pedido o cualquier duda, favor cont&aacute;ctenos <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o ll&aacute;menos {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Muchas gracias, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>