{* This is a comment block

Use vars: {{var var_name}}
*}<!--@subject Payment Transaction Failed Reminder @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<table>
    <thead>
        <tr>
            <th>Fallo de transacci&oacute;n.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Raz&oacute;n</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Tipo de pago</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                    <b>Cliente:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Items</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Total:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Direcci&oacute;n de facturaci&oacute;n:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Direcci&oacute;n de env&iacute;o:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>M&eacute;todo de env&iacute;o:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>M&eacute;todo de pago:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Fecha y hora:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>