<?php if($this->getCollection()->getSize()): 
	  $mod = $this->getRequest()->getModuleName(); 
?>
    <div class="pager">
        <p class="amount">             
			 <?php if($mod!="catalogsearch" && $mod!='tag'):?>
			<strong><?php echo Mage::registry('current_category')->getName(); ?></strong> - <?php endif; ?> <?php if($this->getLastPageNum()>1): ?>
		 <small><?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?></small>
            <?php else: ?>
                <small><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></small>
            <?php endif; ?>            
        </p>
        <!-- View Modes -->
        <?php if( $this->isEnabledViewSwitcher() ): ?>
        <ul class="view-mode">
            <?php $_modes = $this->getModes(); ?>
            <?php if($_modes && count($_modes)>1): ?>            
            <?php foreach ($this->getModes() as $_code=>$_label): ?>
                <?php if($this->isModeActive($_code)): ?>
                   <li class="<?php echo strtolower($_code); ?>"><strong title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></strong></li>
                <?php else: ?>
                    <li class="<?php echo strtolower($_code); ?>Active"><a href="<?php echo $this->getModeUrl($_code)."#catList" ?>" title="<?php echo $_label ?>" class="<?php echo strtolower($_code); ?>"><?php echo $_label ?></a></li>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php endif; ?>
        </ul>
        <?php endif; ?> <!-- View Modes -->       
     </div><!-- Pager -->
<div class="toolbar">
 <div class="limiter">
            <label><?php echo $this->__('Show') ?></label>
            <select onchange="setLocation(this.value)">
            <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
                <option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
                    <?php echo $_limit ?>
                </option>
            <?php endforeach; ?>
            </select> <?php echo $this->__('per page') ?>
        </div>
    <?php if( $this->isExpanded() ): ?>    
        <div class="sort-by">
            <label><?php echo $this->__('Sort By') ?></label>
            <select onchange="setLocation(this.value)">
            <?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
                <option value="<?php echo $this->getOrderUrl($_key, 'asc') ?>"<?php if($this->isOrderCurrent($_key)): ?> selected="selected"<?php endif; ?>>
                    <?php echo $this->__($_order) ?>
                </option>
            <?php endforeach; ?>
            </select>           
        </div>   
    <?php endif; ?>
	<?php echo $this->getPagerHtml() ?>
    <div class="clear"></div>
</div><!-- Toolbar -->
<?php endif ?>
