<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="'.$this->getBodyClass().'"':'' ?>>
<?php echo $this->getChildHtml('after_body_start') ?>
<div class="wrapper">
    <?php echo $this->getChildHtml('global_notices') ?>
    <div id="container">
        <?php echo $this->getChildHtml('header') ?>
        <div class="main-container col2-left-layout">      
            <?php echo $this->getChildHtml('breadcrumbs') ?>           
			<div class="col-right sidebar"><?php echo $this->getChildHtml('right') ?></div>
            <div class="col-main-right">                            
                <?php 					
						echo $this->getChildHtml('content');
				?>                                     
            </div> 
        <div class="clear"></div>
        </div>        
         <!-- Search Section -->       
            <div class="searchBox">
                <?php echo $this->getChildHtml('topSearch') ?>        
                <?php $helper = Mage::helper("catalogsearch"); 
                      $advancedUrl = $helper->getAdvancedSearchUrl();				
                ?>
                <a href="<?php echo $advancedUrl; ?>" class="advanced"><?php echo $this->__('Búsqueda avanzada') ?></a>
      
                <div class="clear"></div>
                </div>        
                <?php echo $this->getChildHtml('footer') ?>
                <?php echo $this->getChildHtml('before_body_end') ?>         
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>

</body>
</html>
