<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential">
    <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

        <div class="product-shop">       
            <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
          
            <ul class="pDetails">       
                <li><?php echo "<span>SKU:</span> " . $_product->getSku(); ?><div class="clear"></div></li>
                <li><?php echo $this->getReviewsSummaryHtml($_product, false, true)?><div class="clear"></div></li>
                <?php echo $this->getChildHtml('product_type_data') ?>            
			</ul>
            <div class="clear"></div>
            <?php echo $this->getTierPriceHtml() ?>
            
            <?php if (!$this->hasOptions()):?>
                <div class="add-to-box">
                    <?php if($_product->isSaleable()): ?>
                        <?php echo $this->getChildHtml('addtocart') ?>
                        <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                    <?php endif; ?>
                    <?php endif; ?>
                    <?php echo $this->getChildHtml('addto') ?>
                </div>
                <?php echo $this->getChildHtml('extra_buttons') ?>
            <?php else:?>
            
                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
           			<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
        		<?php endif;?>
                <?php echo $this->getChildHtml('addto') ?>
            <?php endif; ?>
             <?php echo $this->getChildHtml('other');?>
            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>

        </div>

        <div class="product-img-box">
            <?php echo $this->getChildHtml('media') ?>
        </div>

        <div class="clear"></div>

    </form>
    <script type="text/javascript">
    //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function(button){
                if (this.validator.validate()) {
                    this.form.submit();
                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);
    //]]>
    </script>
    </div>
    <a name="reviewForm" id="reviewForm"></a>
	<ul class="pTabs">
    	<li><a href="javascript:void(0);" class="active box-description"><?php echo $this->__('Details') ?></a></li>
        <!-- <li><a href="javascript:void(0);" class="box-additional"><?php echo $this->__('Información adicional') ?></a></li> -->       
        <li><a href="javascript:void(0);" class="box-reviews"><?php echo $this->__('Reviews') ?></a></li>
        <li><a href="javascript:void(0);" class="box-tags"><?php echo $this->__('Product Tags') ?></a></li>  
        <!-- <li><a href="javascript:void(0);" class="box-up-sell"><?php echo $this->__('Recommended Products') ?></a></li> -->         
    </ul>
    <div class="clear"></div>
    
    <div class="product-collateral">
<?php foreach ($this->getChildGroup('detailed_info', 'getChildHtml') as $alias => $html):?>
        <div class="box-collateral <?php echo "box-{$alias}"?>">
            <?php if ($title = $this->getChildData($alias, 'title')):?>
            <h2><?php echo $this->escapeHtml($title); ?></h2>
            <?php endif;?>
            <?php echo $html; ?>
 
        </div>
<?php endforeach;?>
        <?php echo $this->getChildHtml('upsell_products') ?>
        <?php echo $this->getChildHtml('product_additional_data') ?>
        <?php echo $this->getChildHtml('reviews'); ?>         
    </div>
</div>
