<?php
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    //$_imgHtml   = '';
   // if ($_imgUrl = $_category->getImageUrl()) {
    //    $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" /></p>';
     //   $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    //}
?>

    <?php $catName = Mage::registry('current_category')->getName(); 
	if($this->IsRssCatalogEnable() && $this->IsTopCategory()): ?>
        <a href="<?php echo $this->getRssLink() ?>" class="link-rss"><?php echo $catName . $this->__(' RSS Feed') ?></a>
    <?php endif; ?>  


<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php /*?>
<?php if($_imgUrl): ?>
    <?php echo $_imgHtml ?>
<?php endif; ?><?php */?>

<?php if($_description=$this->getCurrentCategory()->getDescription()): ?>
    <div class="category-description std">
        <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
    </div>
    <?php endif; ?>

<?php if($this->isContentMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>

<?php elseif($this->isMixedMode()): ?>
    <?php echo $this->getCmsBlockHtml() ?>
    <?php echo $this->getProductListHtml() ?>

<?php else: ?>
    <?php echo $this->getProductListHtml() ?>
<?php endif; ?>
